# WordPress app
/app/public/config/dev.php
/app/vendor
/app/public/cms
/app/public/content/upgrade
/app/public/content/languages/*
/app/public/content/plugins/*
/app/public/content/themes/*

# Don't ignore our custom themes and plugins
!/app/public/content/plugins/tnj_*
!/app/public/content/themes/tnj_*

# Other
.DS_Store